@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  background: #E5E5E5;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
}
li {
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
